html{
    background: url(login-fondo.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
input.ng-touched.ng-invalid{
    border: 1px solid red;
}
.error{
    color: red;
}